.hamburger {
    background: #75B79E;
    /* Medium green background */
    color: #3A6351;
    /* Dark green text */
    padding: 10px 15px;
    border: none;
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 1000;
    /* Higher z-index to ensure the button is above other elements */
    font-size: 24px;
    /* Larger font size for the hamburger icon */
    border-radius: 4px;
}

.hidden {
    display: none;
}

/* Add this to ensure the sidebar and button don't overlap the map when sidebar is hidden */
.sidebar.hidden+.map-container {
    flex-basis: 100%;
}


/* Sidebar styles */
.sidebar {
    width: 250px;
    background: #A4D4AE;
    /* Light green background */
    color: #3A6351;
    /* Dark green color for text */
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

/* Category header styles */
.category-header {
    background-color: #75B79E;
    /* Medium green background */
    color: #3A6351;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    cursor: pointer;
    border: none;
}

.category-header:hover {
    background-color: #3A6351;
    /* Dark green color for hover */
    color: #A4D4AE;
}

/* Dropdown content styles */
.dropdown-content {
    display: none;
    background-color: transparent;
    padding-left: 10px;
}

/* Show dropdown content when clicked */
.show {
    display: block;
}

/* Filter option styles */
.filter-option {
    display: block;
    margin: 5px 0;
    position: relative;
}

.filter-option input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
}

/* Custom checkbox styles */
.filter-option input[type="checkbox"]+label:before {
    /* content: '\\2714'; */
    border: 2px solid #3A6351;
    /* Dark green border */
    border-radius: 3px;
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    margin-right: 8px;
    background-color: transparent;
    vertical-align: middle;
    cursor: pointer;
}

/* Style for checked state */
.filter-option input[type="checkbox"]:checked+label:before {
    background-color: #75B79E;
    /* Medium green background for checked state */
    color: #3A6351;
}

/* Header styles */
.sidebar h2 {
    color: #3A6351;
    /* Dark green color for headers */
    text-align: center;
    margin-bottom: 20px;
}

/* Submit button styles */
.submit-btn {
    background-color: #75B79E;
    /* Medium green background */
    color: #3A6351;
    padding: 10px 15px;
    border: none;
    width: 100%;
    cursor: pointer;
    margin-top: 20px;
}

.submit-btn:hover {
    background-color: #3A6351;
    /* Dark green color for hover */
    color: #A4D4AE;
}