.sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    /* Initially hidden */
    width: 300px;
    height: 100%;
    background-color: #f0f0f0;
    transition: left 0.3s ease;
    /* Smooth transition */
    z-index: 1;
}

.sidebar.show {
    left: 0;
    /* Visible when 'show' class is applied */
}

/* Sidebar.css */
.toggle-button {
    /* position: absolute; */
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.toggle-button svg {
    font-size: 1.5rem;
}

.sidebar-content {
    padding: 20px;
}