/* App.css */

.App {
  display: flex; /* Ensures flex layout */
  min-height: 100vh; /* Full viewport height */
  background-color: #f5f5f5; /* Or any preferred background color */
}

.App-header {
  width: 100%;
 
  color: white;
  padding: 20px;
  text-align: center;
}

.sidebar-container {
  flex: 1; /* Adjust the flex value as needed */
  background-color: #A4D4AE; /* Or any preferred background color */
}

.map-container {
  flex: 3; /* Adjust the flex value as needed */
  background-color: #eee; /* Or any preferred background color */
}
